body {

    background:#f9f9f9;

    font-family:arial,sans,helvetica,clean,sans-serif;
    margin:30px 3px 3px 3px;
}

#container {
    width:599px;
    margin:auto;
}

.box  {
    width:569px;
    background:#d0d0d0;
    padding:15px;
    font-size:.85em;
}

#top img {
    border:0px;
}

#top a {
    text-decoration:none;
    display:block;
}

.topround  {
    background:url("/images/roundtop.png") no-repeat;
    height:5px;
    width:599px;
    font-size:1px;
}

.bottomround  {
    background:url("/images/roundbottom.png") no-repeat;
    height:5px;
    width:599px;
    padding:0px 0px 10px 0px;
    font-size:1px;
}

#menu  {
    float:right;
    padding:0px 10px 0px 0px;
    margin:-10px 0px 0px 0px;
}

.tabs  {
    padding:0px;
    margin:0px;
    list-style:none;
    height:25px;
    width:170px;
    font-size:5px;
    margin-bottom:-1px;
}

.tabs li  {
    padding:0px;
    margin:0px;
    display:inline;
}

.tabs img {
    border:0px;
}

.tabs li .leftcorner  {
    height:24px;
    background:url("/images/leftcorner.png") no-repeat 0px -24px;
    width:6px;
    float:left;
}

.tabs li .middle  {
    height:17px;
    background:#dcdcdc;
    float:left;
    padding:5px 1px 2px 1px;
}

.tabs li .rightcorner  {
    height:24px;
    background:url("/images/rightcorner.png") no-repeat 0px -24px;
    width:6px;
    float:left;
    margin:0px 2px 0px 0px;
}



.tabs li .leftcorneractive {
    height:24px;
    background:url("/images/leftcorner.png") no-repeat;
    width:6px;
    float:left;
}

.tabs li .middleactive  {
    height:17px;
    background:#d0d0d0;
    float:left;
    padding:5px 1px 2px 1px;
}

.tabs li .rightcorneractive  {
    height:24px;
    background:url("/images/rightcorner.png") no-repeat;
    width:6px;
    float:left;
    margin:0px 2px 0px 0px;
}

#rooms {
    float:left;
    padding:0px 0px 0px 10px;
}

.createleft  {
    width:330px;
    float:left;
}
.createright  {
    width:120px;
    float:left;
}

.createright h3 {
    margin:10px 0px 3px 0px;
}

.workswith  {
    list-style:none;
    padding:0px;
    margin:0px;
}
.workswith li {
    padding:1px 0px 4px 0px;
}

.createleft h2 {
    font-size:1.5em;
    margin:10px 0px 3px 0px;
}
.createleft h3 {
    font-size:1em;
    margin:1px 0px 10px 0px;
    font-weight:normal;
}

#createroom  {
    float:left;
    padding:1px 0px 0px 0px;
}
.go {
    background:none;
    border:0px;
    float:left;
    padding:0px 0px 0px 3px;
}
.rightcol {
    margin-left:15px;
}
.leftcol {
    display:block;
    float:left;
    width:116px;
    margin-top:5px;
}
#loginform {
    margin-top:50px;
}
input {
    background:url("/images/inputbg.png") no-repeat;
    border:1px solid #666;
    padding:4px;
    margin:1px;
    color:#666;
}

.avatar {
    width:93px;
    height:88px;
    position:relative;
    float:left;
    margin:5px;
}
.avataroverlay {
    position:absolute;
}
.avataroverlay_ie6 {
    position:absolute;
    display:none;
}
.avatarimg {
    padding:6px 0px 0px 11px;
}
.avatar h4  {
    margin:10px 0px 5px 0px;
    text-align:center;
}

#footer {
    text-align:right;
    font-size:.70em;
    padding:10px 10px 0px 0px;
}
#footer a {
	display:inline;
}
#activerooms {
    display:none;
}
.clear{clear:both;}

#signup{}

#signup1{

    width:270px;
    float:left;

}
#signup1 h1{
    margin:0px 0px 0px 0px;
    padding:28px 0px 0px 0px;
    font-size:1.6em;
}
#signup1 ul{padding:13px 13px 13px 2px;margin:0px;list-style:none;}
#signup1 ul li{font-size:1.1em;padding:3px 0px 4px 16px;
background:url("/images/bullet.png") no-repeat;}

#signup2{
    width:500px;
    float:left;
    padding:20px 0px 0px 0px;
}

.signupimg{
    border:none;
}

#featured{line-height:1.2em;}

.error {
    color:red;
}
.clear{clear:both;}

#validusername {
    background:url("/images/bullet.png") no-repeat;
    width:16px;
    height:16px;
    display:inline;
}

#validpassword, #validemail {
    background:url("/images/bullet.png") no-repeat;
    width:16px;
    height:16px;
    display:inline;
}

#id_content {
    width:550px;
    height:600px;
}

/* list chat rooms*/

a,a:hover,a:visited{color:#B02B2C;text-decoration:none;}

#header,#input-area{width:100%;}
.mob #header{position:relative;}

#header{top:0;-webkit-box-shadow:0 3px 3px rgba(100, 100, 100, 0.3);background:-webkit-gradient(linear, left bottom, left top, color-stop(0.22, #c8c8c8), color-stop(1, #f0f0f0));height:40px;border-bottom:1px solid #b6b6b6;z-index:200;}
#header h1{color:#222;text-shadow:0 1px 0 #eee;font-size:18px;text-align:center;line-height:24px;float:left;margin:10px 0 0 3%;}
#header h1#roomname{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:94%;}
#header .navLink,#header .navSep{float:right;font-size:14px;display:block;}
#header .navSep{margin:15px 0 0 0;}
#header .navLink{margin:15px 5px 0 5px;}
#header .navSep.disabled{color:#aaa;}
#header .navTabs .navLink.youarehere{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background:yellow;}

#container{padding-top:0px;margin:0px 1%;}
.mob #container .content{position:relative;}

.roomcard{width:94%;min-height:33px;margin:5px 1%;padding:1% 2%;background:#fdfdfd;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ddd;border-left:1px solid #ddd;-moz-box-shadow:0px 1px 3px #dddddd;-webkit-box-shadow:0px 1px 3px #dddddd;box-shadow:0px 1px 3px #dddddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;white-space:nowrap;}
.roomcard .room-header{float:left;width:65%;overflow:hidden;}
.roomcard .room-header h3{font-size:14px;}
.roomcard .room-header .room-description{font-size:12px;}
.roomcard .room-details{float:right;text-align:right;width:35%;font-size:12px;color:#888;overflow:hidden;}
.roomcard .room-details span.username{display:inline-block;background-color:Red;}
.roomcard .actions{display:none;margin:3px 0px 6px 0px;}
.roomcard.showmore{white-space:normal;background-color:#f4f4f4;background:-webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(white));background:-moz-linear-gradient(top, #e8e8e8, white);background:linear-gradient(top, #e8e8e8, white);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='white');-moz-box-shadow:0px -1px 3px #dddddd;-webkit-box-shadow:0px -1px 3px #dddddd;box-shadow:0px -1px 3px #dddddd;}
.roomcard.showmore .room-header,.roomcard.showmore .room-details{width:100%;}
.roomcard.showmore .actions{display:block;}

.clear-both{clear:both;}
.button{-webkit-border-radius:8px;-webkit-box-shadow:1px 1px 3px rgba(100, 100, 100, 0.6);background-color:#B02B2C;background:-webkit-gradient(linear, left top, left bottom, from(#C05556), to(#B02B2C));background:-moz-linear-gradient(top, #C05556, #B02B2C);background:linear-gradient(top, #C05556, #B02B2C);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C05556', endColorstr='#B02B2C');font-weight:normal;font-size:11px;padding:5px 10px;cursor:pointer;margin:5px 0;border:none;font-family:Verdana,Arial,sans-serif;text-decoration:none;}
.button:hover{text-decoration:none;background-color:#c75e10;}
.button,a.button:hover,a.button:visited{color:white;}
img.user-image{max-height:200px;max-width:200px;overflow:hidden;}

#filter{border:1px solid #a0a0a0;height:20px;font-size:14px;}

.pager-container{min-height:22px;}
.pager{margin:10px 1%;}
.pager .page-numbers{border:1px solid #CCC;-webkit-border-radius:8px;-webkit-box-shadow:1px 1px 3px rgba(192, 192, 192, 0.6);background:-webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));color:#666;display:block;float:left;font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans',sans-serif;font-size:12px;margin-right:3px;margin-bottom:3px;padding:4px 4px;min-width:16px;height:13px;line-height:13px;text-align:center;}
.pager .page-numbers:hover{text-decoration:none;}
.pager .page-numbers.current{-webkit-box-shadow:0 0 0 white;background:white;font-weight:bold;}
.pager .page-numbers.next,.pager .page-numbers.prev{-webkit-box-shadow:1px 1px 3px rgba(220, 220, 220, 0.6);background:-webkit-gradient(linear, left top, left bottom, from(white), to(#f3f3f3));}
.pager .page-numbers.dots{border:none;background:white;-webkit-box-shadow:0 0 0 white;min-width:0px;}