body {

    background:#f9f9f9;

    font-family:arial,sans,helvetica,clean,sans-serif;
    margin:30px 3px 3px 3px;
}

#container {
    width:599px;
    margin:auto;
}

.box  {
    width:569px;
    background:#d0d0d0;
    padding:15px;
    font-size:.85em;
}

#top img {
    border:0px;
}

#top a {
    text-decoration:none;
    display:block;
}

.topround  {
    background:url("/images/roundtop.png") no-repeat;
    height:5px;
    width:599px;
    font-size:1px;
}

.bottomround  {
    background:url("/images/roundbottom.png") no-repeat;
    height:5px;
    width:599px;
    padding:0px 0px 10px 0px;
    font-size:1px;
}

#menu  {
    float:right;
    padding:0px 10px 0px 0px;
    margin:-10px 0px 0px 0px;
}

.tabs  {
    padding:0px;
    margin:0px;
    list-style:none;
    height:25px;
    width:170px;
    font-size:5px;
    margin-bottom:-1px;
}

.tabs li  {
    padding:0px;
    margin:0px;
    display:inline;
}

.tabs img {
    border:0px;
}

.tabs li .leftcorner  {
    height:24px;
    background:url("/images/leftcorner.png") no-repeat 0px -24px;
    width:6px;
    float:left;
}

.tabs li .middle  {
    height:17px;
    background:#dcdcdc;
    float:left;
    padding:5px 1px 2px 1px;
}

.tabs li .rightcorner  {
    height:24px;
    background:url("/images/rightcorner.png") no-repeat 0px -24px;
    width:6px;
    float:left;
    margin:0px 2px 0px 0px;
}



.tabs li .leftcorneractive {
    height:24px;
    background:url("/images/leftcorner.png") no-repeat;
    width:6px;
    float:left;
}

.tabs li .middleactive  {
    height:17px;
    background:#d0d0d0;
    float:left;
    padding:5px 1px 2px 1px;
}

.tabs li .rightcorneractive  {
    height:24px;
    background:url("/images/rightcorner.png") no-repeat;
    width:6px;
    float:left;
    margin:0px 2px 0px 0px;
}

#rooms {
    float:left;
    padding:0px 0px 0px 10px;
}

.createleft  {
    width:330px;
    float:left;
}
.createright  {
    width:120px;
    float:left;
}

.createright h3 {
    margin:10px 0px 3px 0px;
}

.workswith  {
    list-style:none;
    padding:0px;
    margin:0px;
}
.workswith li {
    padding:1px 0px 4px 0px;
}

.createleft h2 {
    font-size:1.5em;
    margin:10px 0px 3px 0px;
}
.createleft h3 {
    font-size:1em;
    margin:1px 0px 10px 0px;
    font-weight:normal;
}

#createroom  {
    float:left;
    padding:1px 0px 0px 0px;
}
.go {
    background:none;
    border:0px;
    float:left;
    padding:0px 0px 0px 3px;
}
.rightcol {
    margin-left:15px;
}
.leftcol {
    display:block;
    float:left;
    width:116px;
    margin-top:5px;
}
#loginform {
    margin-top:50px;
}
input {
    background:url("/images/inputbg.png") no-repeat;
    border:1px solid #666;
    padding:4px;
    margin:1px;
    color:#666;
}

.avatar {
    width:93px;
    height:88px;
    position:relative;
    float:left;
    margin:5px;
}
.avataroverlay {
    position:absolute;
}
.avataroverlay_ie6 {
    position:absolute;
    display:none;
}
.avatarimg {
    padding:6px 0px 0px 11px;
}
.avatar h4  {
    margin:10px 0px 5px 0px;
    text-align:center;
}

#footer {
    text-align:right;
    font-size:.70em;
    padding:10px 10px 0px 0px;
}
#footer a {
	display:inline;
}
#activerooms {
    display:none;
}
.clear{clear:both;}

#signup{}

#signup1{

    width:270px;
    float:left;

}
#signup1 h1{
    margin:0px 0px 0px 0px;
    padding:28px 0px 0px 0px;
    font-size:1.6em;
}
#signup1 ul{padding:13px 13px 13px 2px;margin:0px;list-style:none;}
#signup1 ul li{font-size:1.1em;padding:3px 0px 4px 16px;
background:url("/images/bullet.png") no-repeat;}

#signup2{
    width:500px;
    float:left;
    padding:20px 0px 0px 0px;
}

.signupimg{
    border:none;
}

#featured{line-height:1.2em;}

.error {
    color:red;
}
.clear{clear:both;}

#validusername {
    background:url("/images/bullet.png") no-repeat;
    width:16px;
    height:16px;
    display:inline;
}

#validpassword, #validemail {
    background:url("/images/bullet.png") no-repeat;
    width:16px;
    height:16px;
    display:inline;
}

#id_content {
    width:550px;
    height:600px;
}


.sprite{background-image:url(../Img/sprites.png);background-repeat:no-repeat;background-position:top left;}
.popup .sprite{display:inline-block;}.sprite-bullet-file{background-position:0 0;width:10px;height:10px;}
.sprite-bullet-flag-off{background-position:0 -11px;width:10px;height:10px;}
.sprite-bullet-flag{background-position:0 -22px;width:10px;height:10px;}
.sprite-bullet-mod{background-position:0 -33px;width:10px;height:10px;}
.sprite-bullet-newreply{background-position:0 -44px;width:10px;height:10px;}
.sprite-bullet-ownerstar-off{background-position:0 -55px;width:10px;height:10px;}
.sprite-bullet-ownerstar-on{background-position:0 -66px;width:10px;height:10px;}
.sprite-bullet-pin{background-position:0 -77px;width:10px;height:10px;}
.sprite-bullet-reply{background-position:0 -88px;width:10px;height:10px;}
.sprite-bullet-star-off{background-position:0 -99px;width:10px;height:10px;}
.sprite-bullet-star-on{background-position:0 -110px;width:10px;height:10px;}
.sprite-calendar-small{background-position:0 -121px;width:14px;height:12px;}
.sprite-edit{background-position:0 -134px;width:13px;height:13px;}
.sprite-feed-icon16{background-position:0 -148px;width:16px;height:16px;}
.sprite-flag-off{background-position:0 -165px;width:14px;height:14px;}
.sprite-flag-on{background-position:0 -180px;width:14px;height:14px;}
.sprite-icon-flag{background-position:0 -195px;width:16px;height:16px;}
.sprite-icon-mod{background-position:0 -212px;width:16px;height:16px;}
.sprite-icon-rss{background-position:0 -229px;width:11px;height:11px;}
.sprite-icon-star-off{background-position:0 -241px;width:16px;height:16px;}
.sprite-icon-star{background-position:0 -258px;width:16px;height:16px;}
.sprite-quickleave-icon{background-position:0 -275px;width:10px;height:11px;}
.sprite-quickswitch-icon{background-position:-11px -275px;width:16px;height:11px;}
.sprite-menu{background-position:2px -286px;width:16px;height:13px;}
.sprite-link{background-position:-14px -286px;width:16px;height:13px;}
.sprite-sound-0{background-position:0 -299px;width:16px;height:16px;}
.sprite-sound-1{background-position:0 -315px;width:16px;height:16px;}
.sprite-sound-2{background-position:-16px -299px;width:16px;height:16px;}
.sprite-cutoff{background-position:0 -331px;height:10px;background-repeat:repeat-x;}
.sprite-ownerstar-off{background-position:0 -341px;width:16px;height:16px;}
.sprite-ownerstar-on{background-position:0 -358px;width:16px;height:16px;}
.sprite-sec-gallery{background-position:0 -375px;width:16px;height:14px;}
.sprite-sec-private{background-position:0 -390px;width:16px;height:14px;}
.sprite-spanner{background-position:0 -405px;width:12px;height:12px;}
.sprite-star-off{background-position:0 -418px;width:12px;height:12px;}
.sprite-star-on{background-position:0 -431px;width:12px;height:12px;}
.sprite-xxl-star-off{background-position:0 -444px;width:32px;height:32px;}
.sprite-xxl-star{background-position:0 -477px;width:32px;height:32px;}
.sprite-input-bg{background-position:0 -509px;max-height:60px;background-repeat:repeat-x;}*{margin:0;padding:0;border:0;font-family:Helvetica;}
.action-link{display:none;}#topbuttons{margin:10px 0 10px 0;display:none;}body{min-height:316px;background-color:white;-webkit-text-size-adjust:none;}h2{font-size:100%;margin-bottom:6px;}a,a:hover,a:visited{color:#dd6205;text-decoration:none;}#header,#input-area{width:100%;}.mob #header{position:relative;}#header{top:0;-webkit-box-shadow:0 3px 3px rgba(100, 100, 100, 0.3);background:-webkit-gradient(linear, left bottom, left top, color-stop(0.22, #c8c8c8), color-stop(1, #f0f0f0));height:40px;border-bottom:1px solid #b6b6b6;z-index:200;}#header h1{color:#222;text-shadow:0 1px 0 #eee;font-size:18px;text-align:center;line-height:24px;float:left;margin:10px 0 0 3%;}#header h1#roomname{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:94%;}#header .navLink,#header .navSep{float:right;font-size:14px;display:block;}#header .navSep{margin:15px 0 0 0;}#header .navLink{margin:15px 5px 0 5px;}#header .navSep.disabled{color:#aaa;}#header .navTabs .navLink.youarehere{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background:yellow;}#bottom{text-align:right;padding-bottom:20px;}.message.editing .content{background-color:#666666;background:-webkit-gradient(linear, left top, left bottom, from(#555555), to(#777777));border-bottom:1px solid #EEEEEE;color:#FFFFFF;font-style:italic;padding-left:5px;}#chat{min-height:270px;padding-bottom:5px;}#loading{background:#f8e0cd;background:rgba(248, 224, 205, 0.9);width:88%;padding:20px 6%;}#loading #loading-message{padding:2% 5%;margin:0px auto;background-color:White;font-size:18px;line-height:34px;-moz-box-shadow:0 1px 15px #9c9c9c;-webkit-box-shadow:0 1px 15px #9c9c9c;box-shadow:0 1px 15px #9c9c9c;}#input-area{border-top:1px solid #ccc;text-align:center;overflow:hidden;background-color:#cecece;top:40px;z-index:100;}#input-area #bubble{margin:4px auto 0 auto;}#input-area #bubble #input{font-size:14px;width:83%;height:30px;background-color:#fbf2d9;}#input-area #bubble #sayit-button{vertical-align:top;color:white;-webkit-border-radius:2px;border-radius:2px;background-color:#ff7b18;font-size:11px;border:none;padding:4px;}.subheader{margin:6px 10px 20px 10px;}.subheader .pager{margin-left:0;}#container{padding-top:0px;margin:0px 1%;}.mob #container .content{position:relative;}.system-message-container{padding-left:10px;}.system-message-spacer{display:none;}.system-message{font-size:11px;font-weight:bold;}.monologue{-webkit-border-radius:8px;border-radius:8px;background:#f6f6f6;padding:5px 5px 5px 10px;margin:5px auto;overflow:auto;}.roomcard{width:94%;min-height:33px;margin:5px 1%;padding:1% 2%;background:#fdfdfd;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ddd;border-left:1px solid #ddd;-moz-box-shadow:0px 1px 3px #dddddd;-webkit-box-shadow:0px 1px 3px #dddddd;box-shadow:0px 1px 3px #dddddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;white-space:nowrap;}.roomcard .room-header{float:left;width:65%;overflow:hidden;}.roomcard .room-header h3{font-size:14px;}.roomcard .room-header .room-description{font-size:12px;}.roomcard .room-details{float:right;text-align:right;width:35%;font-size:12px;color:#888;overflow:hidden;}.roomcard .room-details span.username{display:inline-block;background-color:Red;}.roomcard .actions{display:none;margin:3px 0px 6px 0px;}.roomcard.showmore{white-space:normal;background-color:#f4f4f4;background:-webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(white));background:-moz-linear-gradient(top, #e8e8e8, white);background:linear-gradient(top, #e8e8e8, white);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='white');-moz-box-shadow:0px -1px 3px #dddddd;-webkit-box-shadow:0px -1px 3px #dddddd;box-shadow:0px -1px 3px #dddddd;}.roomcard.showmore .room-header,.roomcard.showmore .room-details{width:100%;}.roomcard.showmore .actions{display:block;}.roomcard.frozen{background:#E0E0E0;}.roomcard.deleted{border:1px solid #ddd;background:#fff;opacity:0.8;filter:alpha(opacity=80);-moz-box-shadow:0px 1px 3px white;-webkit-box-shadow:0px 1px 3px white;box-shadow:0px 1px 3px white;color:#bbb;}.roomcard.deleted a,.roomcard.deleted h3{color:#bbb;}a.signature{color:inherit;}.tiny-signature{font-size:10px;float:left;display:inline;}.tiny-signature .avatar{float:left;margin-right:5px;}.tiny-signature .username{display:inline;}.tiny-signature .username a{color:inherit;}.timestamp{float:right;font-size:10px;color:#888;}.message{width:100%;margin:3px auto;float:left;font-size:11px;}.message .meta{display:none;}.message .content{float:left;}.message .flash{position:absolute;right:5px;}.message .flash .stars{display:none;}.message .flash .stars.user-star,.message .flash .stars.always{display:inherit;}.mine{background-color:#fbf2d9;}.moderator{color:#497989 !important;}.cb{clear:both;}.flag-indicator.mod-flag{background-color:#fe7a15;}.flag-indicator:hover{text-decoration:none;}.flag-indicator{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:inline-block;padding:0px 4px;color:White;background-color:#07D;font-weight:normal;}.clear-both{clear:both;}.button{-webkit-border-radius:8px;-webkit-box-shadow:1px 1px 3px rgba(100, 100, 100, 0.6);background-color:#d96914;background:-webkit-gradient(linear, left top, left bottom, from(#ff7b18), to(#b35611));background:-moz-linear-gradient(top, #ff7b18, #b35611);background:linear-gradient(top, #ff7b18, #b35611);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7b18', endColorstr='#b35611');font-weight:normal;font-size:11px;padding:5px 10px;cursor:pointer;margin:5px 0;border:none;font-family:Verdana,Arial,sans-serif;text-decoration:none;}.button:hover{text-decoration:none;background-color:#c75e10;}.button,a.button:hover,a.button:visited{color:white;}img.user-image{max-height:200px;max-width:200px;overflow:hidden;}#gotomenu-main,#cancel-editing-button{float:left;}#menu-container{position:relative;}#menu-container .mobile-menu{position:absolute;z-index:50;padding:10px 3%;border:1px solid #aaa;width:88%;font-size:11px;-webkit-border-radius:10px;background:White;-webkit-box-shadow:0 1px 15px #9c9c9c;overflow:hidden;left:3%;bottom:0px;display:none;}#menu-container .mobile-menu h2{position:relative;left:-3.45%;top:-10px;background-color:#d0d0d0;width:100%;font-size:14px;font-weight:bold;padding:8px 3.45%;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;}#menu-container .mobile-menu h2 button{float:right;position:relative;top:-9px;font-weight:normal;}#menu-container .mobile-menu h3{font-size:14px;font-weight:bold;}#menu-container .mobile-menu .button.low-pad{padding-left:8px;padding-right:8px;}#roomdesc{font-style:italic;margin-bottom:5px;}#searchbox,#room-search #filter{border:1px solid #a0a0a0;height:20px;font-size:14px;}#searchbox{width:100%;}#starred-posts .quick-unstar{display:none;}#starred-posts li{margin-bottom:4px;}#present-users,#my-rooms{list-style-type:none;}#present-users div.avatar{float:left;margin-right:10px;clear:both;}#present-users li .username{background-color:White;color:#222;font-size:18px;float:left;height:32px;line-height:32px;width:80%;}#present-users li .data{display:none;}#my-rooms li{margin-bottom:5px;clear:both;}#my-rooms li div{color:#222 !important;white-space:nowrap;}#my-rooms li .room-info{display:none;}#my-rooms li .quickleave{margin:0 3px;}.mention{background-color:#b3f1d5;}body.mob .button.mention{background-color:#98cdb5;background:-webkit-gradient(linear, left top, left bottom, from(#b3f1d5), to(#7da995));background:-moz-linear-gradient(top, #b3f1d5, #7da995);background:linear-gradient(top, #b3f1d5, #7da995);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3f1d5', endColorstr='#7da995');}.mention,.button.mention{color:#222;}.vote-count-container .times{font-weight:bold;}.vote-count-container .img,#starred-posts .img.owner-star{width:10px;height:10px;display:inline-block;padding:0px;background-repeat:no-repeat;vertical-align:baseline;margin-right:1px;}.vote-count-container.stars .img{background-image:url(../Img/sprites.png);background-repeat:no-repeat;background-position:top left;background-position:0 -99px;width:10px;height:10px;}.vote-count-container.stars.user-star .img{background-image:url(../Img/sprites.png);background-repeat:no-repeat;background-position:top left;background-position:0 -110px;width:10px;height:10px;}.vote-count-container.stars.owner-star .img{background-image:url(../Img/sprites.png);background-repeat:no-repeat;background-position:top left;background-position:0 -55px;width:10px;height:10px;}.vote-count-container.stars.owner-star.user-star .img{background-image:url(../Img/sprites.png);background-repeat:no-repeat;background-position:top left;background-position:0 -66px;width:10px;height:10px;}.pager-container{min-height:22px;}.pager{margin:10px 1%;}.pager .page-numbers{border:1px solid #CCC;-webkit-border-radius:8px;-webkit-box-shadow:1px 1px 3px rgba(192, 192, 192, 0.6);background:-webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));color:#666;display:block;float:left;font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans',sans-serif;font-size:12px;margin-right:3px;margin-bottom:3px;padding:4px 4px;min-width:16px;height:13px;line-height:13px;text-align:center;}.pager .page-numbers:hover{text-decoration:none;}.pager .page-numbers.current{-webkit-box-shadow:0 0 0 white;background:white;font-weight:bold;}.pager .page-numbers.next,.pager .page-numbers.prev{-webkit-box-shadow:1px 1px 3px rgba(220, 220, 220, 0.6);background:-webkit-gradient(linear, left top, left bottom, from(white), to(#f3f3f3));}.pager .page-numbers.dots{border:none;background:white;-webkit-box-shadow:0 0 0 white;min-width:0px;}.onebox .user-gravatar32{float:left;margin-right:3px;}.ob-user{padding:.8em 1.5em;background-color:White;height:64px;}.ob-user .user-gravatar64 img{width:32px;height:32px;float:left;}.ob-xkcd img{max-width:80%;max-height:250px;}form.inline{display:inline;}#room-index-buttons form,#join-all,#login{margin-left:1%;}#create-room{float:right;margin-right:1%;}pre,code{white-space:pre-wrap;word-wrap:normal;font-family:monospace, serif;}.message.pending{color:#009800;}.message.posted{color:#006400;}.message.neworedit{color:#006400;}.mspark{border:none;position:relative;overflow:hidden;}.mspark .mspbar{width:8px;position:absolute;background-color:#bbb;float:left;bottom:0px;overflow:hidden;}.mspark .mspbar.now{background-color:#dd6205;background-color:rgba(221, 98, 5, 0.75);width:2px;}.mspark .mspbar.now.vertical{height:2px;}.mspark .msplab{font-size:8px;position:absolute;float:left;z-index:2;}.mspark .msparea{background-color:#dd6205;position:absolute;opacity:0;filter:alpha(opacity=0);}.mspark .msparea.now{opacity:0.2;filter:alpha(opacity=20);}.mspark .msparea:hover{opacity:0.5;filter:alpha(opacity=50);}.conversation-info{float:left;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ddd;border-left:1px solid #ddd;-moz-box-shadow:0px 1px 3px #dddddd;-webkit-box-shadow:0px 1px 3px #dddddd;box-shadow:0px 1px 3px #dddddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:#fdfdfd;width:250px;padding:5px 10px 10px 10px;margin:0 10px 10px 0;position:relative;}.conversation-info h3{font-size:16px;font-weight:bold;}.conversation-info p{margin:4px 0 0 0;}.conversation-info p.bookmark-user{color:#a0a0a0;}.conversation-info .btn-delete{position:absolute;right:0px;top:-2px;z-index:5;}.room-user-count,.room-message-count,.room-current-user-count,.user-room-count,.user-message-count,.room-info-link{top:181px;font-size:.75em;color:#a0a0a0;padding-left:3px;padding-bottom:3px;padding-right:5px;position:absolute;}.reputation-score{color:#444;font-size:120%;font-weight:bold;margin-right:2px;}.badgecount{color:#808185;padding-left:1px;}.badge1,.badge2,.badge3{display:inline-block;height:11px;line-height:inherit;margin:0px 1px 1px 3px;overflow:hidden;vertical-align:text-bottom;width:6px;background-image:url(http://sstatic.net/stackoverflow/img/sprites.png?v=272483674ecb);background-repeat:no-repeat;}.badge1{background-position:-40px -1034px;}.badge2{background-position:-20px -1034px;}.badge3{background-position:0px -1034px;}.room-mini{width:215px;padding:5px;overflow:hidden;background:#fdfdfd;position:relative;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ddd;border-left:1px solid #ddd;-moz-box-shadow:0px 1px 3px #dddddd;-webkit-box-shadow:0px 1px 3px #dddddd;box-shadow:0px 1px 3px #dddddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}.room-mini .room-mini-header{padding-bottom:5px;margin:5px;}.room-mini .room-mini-header .room-mini-description{font-size:.8em;line-height:13px;margin-top:5px;}.room-mini .room-current-user-count{top:0px;right:-2px;}.room-mini .room-message-count{top:auto;bottom:-2px;right:-2px;}.room-message-count>a,.room-current-user-count>a{color:#a0a0a0 !important;}.room-mini.deleted-room a{color:#bbb;}.room-mini.frozen-room{background:#E0E0E0;}.room-mini.frozen-room a{color:#9D6A45;}.ob-mod-tag{color:#fff;background-color:#6C0000;border-bottom:1px solid #300000;border-right:1px solid #300000;margin:2px 2px 2px 0;padding:3px 4px 3px 4px;font-size:12px;line-height:2.4;white-space:nowrap;display:inline;font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;}.ob-youtube{position:relative;}.ob-youtube .ob-youtube-preview{float:left;}.ob-youtube .ob-youtube-overlay{width:240px;height:180px;position:absolute;left:0px;text-align:center;font-size:60px;opacity:0.5;filter:alpha(opacity=50);line-height:180px;cursor:pointer;color:White;text-shadow:1px 1px 4px black;}.ob-youtube .ob-youtube-overlay:hover{opacity:0.8;filter:alpha(opacity=80);}.ob-tweet,.ob-twitteruser{padding:.8em 1.5em;background-color:White;}.ob-tweet .ob-profile-image,.ob-twitteruser .ob-profile-image{float:left;margin-right:0.5em;}.ob-tweet .ob-status-text{font-size:1.2em;color:Black;font-family:Georgia, Serif;line-height:1.2em;}.ob-tweet .ob-status-meta{margin-top:0.4em;}.ob-tweet .ob-status-meta .ob-tweet-info{color:#999;}.ob-tweet .ob-status-meta .ob-tweet-info a{color:#999;}.ob-twitteruser .ob-realname{font-size:1.2em;font-weight:bold;margin-bottom:.3em;}.ob-twitteruser .ob-realname a{color:Black;}.ob-twitteruser .ob-bio{color:#777;font-family:Georgia, Serif;font-style:italic;margin:3px 0;}.ob-twitteruser .ob-stats{color:#777;}.ob-post-votes{background-color:#eee;color:#555;padding:4px 4px 5px;font-weight:bold;min-width:24px;text-align:center;float:left;margin-right:5px;}.ob-post-title{padding-top:3px;font-weight:bold;font-size:1.3em;margin-left:37px;}img.ob-post-siteicon{float:right;}.ob-post{padding:.8em 1.5em;background-color:White;}.ob-question-stats{background-color:#e0e0e0;float:left;text-align:center;margin:0px 5px 2px 0px;padding:2px 4px;}.ob-post-votes.ob-post-accepted{background-color:#737967;color:#FBFABD;}.ob-post-body img.user-gravatar32{margin:3px 5px 0px 0px;}a.ob-user-username{color:#0070c0;font-weight:bold;font-size:1.3em;}.ob-post-tag,.ob-user-tag{background-color:#E0EAF1;color:#3E6D8E;font-size:.9em;padding:1px 2px;border-width:0px 1px 1px 0px;}a:hover .ob-post-tag,a:hover .ob-user-tag{border-width:1px 0px 0px 1px;}.ob-post .ob-post-body{margin:6px 0px;white-space:normal;}.ob-wikipedia,.ob-amazon,.ob-gist,.ob-message,.ob-lpadbug,.ob-manpage,.ob-blog{padding:.8em 1.5em;background-color:White;}.ob-gist pre{overflow:scroll;max-height:600px;}img.ob-wikipedia-image,img.ob-amazon-image,img.ob-blog-image{float:left;max-width:30%;max-height:100px;margin-right:1em;}img.ob-amazon-image{max-height:80px;}.ob-wikipedia-title,.ob-amazon-title,.ob-lpadbug-title,.ob-manpage-title,.ob-blog-title{margin-bottom:.5em;}.ob-wikipedia-title a,.ob-amazon-title a,.ob-lpadbug-title a,.ob-manpage-title a,.ob-blog-title a{font-size:1.6em;color:Black;}.ob-wikipedia-favicon,.ob-lpad-favicon,.ob-manpage-favicon{vertical-align:baseline;}.ob-amazon-favicon{vertical-align:baseline;float:right;width:24px;height:24px;}.ob-blog-meta{font-style:italic;margin-bottom:5px;color:#777;}.ob-blog-text p{margin-bottom:.5em;}.ob-amazon-author,.ob-amazon-manufacturer,.ob-lpadbug-target,.ob-lpadbug-status{font-style:italic;}#transcript-logo,#header-logo{position:relative;margin:10px 0 5px 0;float:left;display:block;}#overlay-header{-moz-box-shadow:0px 1px 15px #9c9c9c;-webkit-box-shadow:0px 1px 15px #9c9c9c;box-shadow:0px 1px 15px #9c9c9c;background:rgba(255, 255, 255, 0.949219);border-bottom:1px solid black;display:none;font-size:20px;font-weight:bold;left:0px;opacity:0;padding-bottom:10px;padding-left:10%;padding-right:10%;padding-top:5px;position:fixed;top:0px;width:80%;z-index:-1;}