body {

    background:#f9f9f9;

    font-family:arial,sans,helvetica,clean,sans-serif;
    margin:30px 3px 3px 3px;
}

#container {
    width:720px;
    margin:auto;
}

a,a:hover,a:visited{color:#B02B2C;text-decoration:none;}

#header,#input-area{width:100%;}
.mob #header{position:relative;}

#header{top:0;-webkit-box-shadow:0 3px 3px rgba(100, 100, 100, 0.3);background:-webkit-gradient(linear, left bottom, left top, color-stop(0.22, #c8c8c8), color-stop(1, #f0f0f0));height:40px;border-bottom:1px solid #b6b6b6;z-index:200;}
#header h1{color:#222;text-shadow:0 1px 0 #eee;font-size:18px;text-align:center;line-height:24px;float:left;margin:10px 0 0 3%;}
#header h1#roomname{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:94%;}
#header .navLink,#header .navSep{float:right;font-size:14px;display:block;}
#header .navSep{margin:15px 0 0 0;}
#header .navLink{margin:15px 5px 0 5px;}
#header .navSep.disabled{color:#aaa;}
#header .navTabs .navLink.youarehere{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background:yellow;}

#container{padding-top:0px;margin:0px 1%;}
.mob #container .content{position:relative;}

.roomcard{width:94%;min-height:33px;margin:5px 1%;padding:1% 2%;background:#fdfdfd;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ddd;border-left:1px solid #ddd;-moz-box-shadow:0px 1px 3px #dddddd;-webkit-box-shadow:0px 1px 3px #dddddd;box-shadow:0px 1px 3px #dddddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;white-space:nowrap;}
.roomcard .room-header{float:left;width:65%;overflow:hidden;}
.roomcard .room-header h3{font-size:14px;}
.roomcard .room-header .room-description{font-size:12px;}
.roomcard .room-details{float:right;text-align:right;width:35%;font-size:12px;color:#888;overflow:hidden;}
.roomcard .room-details span.username{display:inline-block;background-color:Red;}
.roomcard .actions{display:none;margin:3px 0px 6px 0px;}
.roomcard.showmore{white-space:normal;background-color:#f4f4f4;background:-webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(white));background:-moz-linear-gradient(top, #e8e8e8, white);background:linear-gradient(top, #e8e8e8, white);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='white');-moz-box-shadow:0px -1px 3px #dddddd;-webkit-box-shadow:0px -1px 3px #dddddd;box-shadow:0px -1px 3px #dddddd;}
.roomcard.showmore .room-header,.roomcard.showmore .room-details{width:100%;}
.roomcard.showmore .actions{display:block;}

.clear-both{clear:both;}
.button{-webkit-border-radius:8px;-webkit-box-shadow:1px 1px 3px rgba(100, 100, 100, 0.6);background-color:#B02B2C;background:-webkit-gradient(linear, left top, left bottom, from(#C05556), to(#B02B2C));background:-moz-linear-gradient(top, #C05556, #B02B2C);background:linear-gradient(top, #C05556, #B02B2C);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C05556', endColorstr='#B02B2C');font-weight:normal;font-size:11px;padding:5px 10px;cursor:pointer;margin:5px 0;border:none;font-family:Verdana,Arial,sans-serif;text-decoration:none;}
.button:hover{text-decoration:none;background-color:#c75e10;}
.button,a.button:hover,a.button:visited{color:white;}
img.user-image{max-height:200px;max-width:200px;overflow:hidden;}

#filter{border:1px solid #a0a0a0;height:20px;font-size:14px;}

.pager-container{min-height:22px;}
.pager{margin:10px 1%;}
.pager .page-numbers{border:1px solid #CCC;-webkit-border-radius:8px;-webkit-box-shadow:1px 1px 3px rgba(192, 192, 192, 0.6);background:-webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));color:#666;display:block;float:left;font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans',sans-serif;font-size:12px;margin-right:3px;margin-bottom:3px;padding:4px 4px;min-width:16px;height:13px;line-height:13px;text-align:center;}
.pager .page-numbers:hover{text-decoration:none;}
.pager .page-numbers.current{-webkit-box-shadow:0 0 0 white;background:white;font-weight:bold;}
.pager .page-numbers.next,.pager .page-numbers.prev{-webkit-box-shadow:1px 1px 3px rgba(220, 220, 220, 0.6);background:-webkit-gradient(linear, left top, left bottom, from(white), to(#f3f3f3));}
.pager .page-numbers.dots{border:none;background:white;-webkit-box-shadow:0 0 0 white;min-width:0px;}