<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load splib %}
{% use_dns_room_names %}
<head>
<title>{% block title %}Chat rooms list{% endblock %}</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
// If googleapis failed, load locally
!window.jQuery && document.write(unescape('%3Cscript src="/scripts/jquery-1.4.4.js"%3E%3C/script%3E'))
</script>

<script type="text/javascript">
      $(document).ready(function(){

		  $(".roomcard").click(function (evt) {
				if ($(evt.target).is("a"))
					return;
				$(this).toggleClass("showmore");
		  });
		  
          $("#createroom > form").submit(function() {
	      {% if dns_room_names %}
              new_loc = ["http://",
                         $("#formroomname").attr("value"),
                         ".",
                         "{% current_domain %}"];
              {% else %}
	      new_loc = ["http://{% current_domain %}/room/",
                         $("#formroomname").attr("value"),"/"];
	      {% endif %}		 
	      window.location = new_loc.join("");
              return false;
          });
      });

</script>
{% block head %}{% endblock %}

</head>
<body class="mob">
    <div id="container">
		<div id="content">
			<div>
				<form id="joincreate" method="get" action="/client/" class="inline">
			        {% if dns_room_names %}
                        <label>Join or Create a room @ http://</label>
                    {% else %}
					    <label>Join or Create a room @ http://{% current_domain %}/room/</label>
			        {% endif %}
					<input id="filter" name="room" value="room name" onclick="this.value='';" size="12" type="text">
					{% if user.is_authenticated %}
					    <input class="button" value="Go" target="_blank" type="submit">
			        {% else %}
                        <input class="button" value="Go" href="http://{% current_domain %}/account/signin/?next=http://{% current_domain %}/">
                    {% endif %}
			        {% if dns_room_names %}
						<label>.{% current_domain %}</label>
                    {% endif %} 
				</form>
			</div>
            </br>
			{% show_rooms %}
			{% for room in rooms %}
                {% if room.is_featured %}
                <div class="roomcard showmore">
                {% else %}
				<div class="roomcard ">
                {% endif %}
					<div class="room-header">
						<h3>
                            {% if room.is_featured %}
                                <img class="small-site-logo" title="Support team" src="/images/murex/fireman.png" height="16" width="16">
                            {% endif %}
							{% if user.is_authenticated %}
							    <span class="room-name"><a target="_blank" href="http://{% current_domain %}/room/{{room.name}}/">{{room.name}}</a></span>
							{% else %}
								<span class="room-name"><a href="http://{% current_domain %}/account/signin/?next=http://{% current_domain %}/room/{{room.name}}/">{{room.name}}</a></span>
							{% endif %}
						</h3>
						<div class="room-description clear-both">{{room.description}}</div>
					</div>
					<div class="room-details">
						{{room.occupants}} users connected<br>
						created {{room.creationdate}}
					</div>
					<div class="clear-both"></div>
					<div class="actions">
                        {% if user.is_authenticated %}
						<a href="http://{% current_domain %}/room/{{room.name}}/" target="_blank" class="button">join</a>
                        {% else %}
                        <a href="http://{% current_domain %}/account/signin/?next=http://{% current_domain %}/room/{{room.name}}/" class="button">join</a>
						{% endif %}
						<a href="http://..." class="button" onclick="return false">history</a>
						<a href="http://..." class="button" onclick="return false">conversations</a>
					</div>
				</div>
			{% endfor %}
        </div>
	</div>
     
 </body>
</html>