<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" />
    <!--
	<link rel="stylesheet" href="/css/default_from_client.css" type="text/css" media="screen" />
	-->
    <title>chat room thread</title>{% block getcred %} {% endblock %}

  </head>
  <body>
      <noscript><div id="js_error">You must enable JavaScript!</div></noscript>
    <div id="configure_room_form" style="display:none;">
	  <div id="configure_room_form_handle">
            <a id="configure_room_form_close" href="#">[ x ]</a>
            Configure Room.
          </div>
          <div id="configure_room_form_content">
        <form id="configure_room_form_input" action="#" method="post">
        </form>
        <div id='configure_room_form_message' class='error'>
        </div>
      </div>
    </div>
    <div id="room_password_dialog" style="display:none;">
      <div id="room_password_dialog_handle">
        <a id="room_password_dialog_close" href="#">[ x ]</a>
        Enter the room password.
      </div>
      <div id="room_password_dialog_content">
        <form id="room_password_dialog_form" action="." method="post">
          <div>
            <div>
              <div class="leftinput">Password:</div>
              <input class="rightinput" id="room_password_dialog_password" name="password" type="password" />
            </div>
          </div>
          <input id="room_password_dialog_form_submit" type="submit" value="enter room" />
        </form>
        <div id='room_password_dialog_form_message' class='error'>
        </div>
      </div>
    </div>    
    <div id="container">
      <div id="header">
        <ul id="menu">
        </ul>
        <h1>
          <span id="roomname"></span>@<span id="roomdomainname"></span><span id="outer_room_topic" style="display:none;"> (<span id="room_topic"></span>)</span>
        </h1>
        <div class="clear"></div>
      </div>
      <div id="sidebar">

        <div id="chatstatus">
          <strong id="login_username"></strong>
          <br />
          <span id="status_disconnected"><a href="javascript:this.location.reload();"><img
            src="/images/default_theme/disconnected.png" alt="disconnected" border="0" /></a>
            disconnected</span>
          <span id="status_authentication_failed">authentication failed</span>
          <span id="status_connect_failed">connection failed</span>
          <span id="status_connected"><img src="/images/default_theme/connected.png" alt="connected" />
            connected</span>
          <div id="chat_joining_room">
            Joining Room.....</div>
          <span id="status_authenticating">authenticating..</span>
        </div>

        <div id="online" class="following">
          <hr />
          <ul id="roster_item">
            <!--This li is used to list users in the room. Leave it hidden. -->
            <li id="rosteritemtemplate" style="display: none;">
              <div class="useronline">
                <!--User Avatar -->
                <img id="onlineavatar" alt="displaynick" src="/images/defaultavatar.png" />
                <div class="rostername">
                  <span id="roster_name" class="roster_user_name">
                  </span><span class="roster_user_at">@</span><span id="roster_user_domain" class="roster_user_domain">speeqe.com</span>
                </div>
              </div>
	      <div id="rosteritemvcardtemplate" class="rostervcard" style="display: none;">
	          <div id="vcard_name"></div>
	          <div id="vcard_url"></div>		  
		  <div id="vcard_email"></div>		  
		  <div id="vcard_desc"></div>		  
	      </div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
      </div>
      <div id="chat">
        <div id="chatWindow_chatpane" class='direction-up'>
          <div id="post_template" style="display: none;">
            <!-- This div is used to post messages. They will always show in the
                 chatWindow_chatpan div. Leave it hidden. -->
            <div id="chatpane_post" class="post">
              <div class="postmark">
                <div class="message_block">
		  <!-- used a setting to break words in the message -->
		  <span id="message_word_break" value=10 style="display: none;"></span>
                  <div id="message_time_stamp" class="date">
                    01/01/08
                    <!--Message Time Stamp (don't change id)-->
                  </div>
                  <p>
                    <span class="action_indicator">*</span>
                    <span id="message_username" class="message_user_name">
                      <!--User name -->
                    </span><span class="message_user_at">@</span><span class="message_user_domain" id="message_user_domain">
                      <!--User domain -->speeqe.com
                    </span><span class="nick_suffix">:</span>
                    <span id='messagepost'>
                      <!--The message-->
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="chatbox">
          <div id="chatbox_inner">
            <textarea id="send_chat_message" cols="40" rows="2"> type and hit enter </textarea>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
